.flex {
  display: flex;
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    &_spacearound {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.gap {
  &_20 {
    gap: 20px;
  }
}

.mt {
  &_20 {
    margin-top: 20px;
  }
}

.product {
  text-align: center;
  box-shadow: 0px 0px 10px #383838;
  padding: 0 0 20px 0;
  width: 320px;
  &__img {
    width: 300px;
  }
  &__info {
    text-align: center;
    &__name {
      &:hover {
        color: #4e4e4e;
        cursor: pointer;
      }
    }
    &__cart {
      border: none;
      background-color: #383838;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: #646464;
        cursor: pointer;
      }
    }
  }
  &__details {
    padding-top: 20px;
    &__img {
      display: block;
      width: 300px;
    }
  }
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 80px;
}
