.flex {
  display: flex;
  &_wrap {
    display: flex;
    flex-wrap: wrap;
    &_spacearound {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.gap {
  &_20 {
    gap: 20px;
  }
}

.mt {
  &_20 {
    margin-top: 20px;
  }
}

.product {
  text-align: center;
  box-shadow: 0px 0px 10px #383838;
  padding: 0 0 20px 0;
  width: 320px;
  &__img {
    width: 300px;
  }
  &__info {
    text-align: center;
    &__name {
      &:hover {
        color: #4e4e4e;
        cursor: pointer;
      }
    }
    &__cart {
      border: none;
      background-color: #383838;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: #646464;
        cursor: pointer;
      }
    }
  }
  &__details {
    padding-top: 20px;
    &__img {
      display: block;
      width: 300px;
    }
  }
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 80px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
main {
  flex: 1;
}
p {
  margin-bottom: 0;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
  position: fixed;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.cat-link {
  color: #fff;
}
